
<style>
    .table {
    border-collapse: separate;
    border-spacing:0 20px;
    }
  

</style>


<div class="container-fluid">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover mt-2 mb-2 borderless" id="myTablePro">
                    <thead>
                        <tr>
                            <th>OrderId</th>
                            <th>user</th>
                            <th>Product</th>
                            <th>Payment method</th>
                            <th>Amount received</th>
                            <th>Status</th>
                            <th>Change Status</th>
                            <th>Cancel order</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        {{#each products}}
                        <tr class="mt-5">

                            <td>{{../this._id}}</td>
                            <td>{{../this.deliveryDetails.firstName}}</td>
                            <td><a>{{#each this.productDetails}}{{this.productName}}{{/each}}</a></td>

                            <td>{{../this.paymentMethod}}</td>
                            <td>₹{{../this.totalAmount.totalSum}}</td>
                            {{#if this.placed}}
                            <td style="text-transform: uppercase;" class="badge badge-primary ">{{this.status}}</td>
                            {{/if}}
                            {{#if this.shipped}}
                            <td style="text-transform: uppercase;" class="badge badge-info">{{this.status}}</td>
                            {{/if}}
                            {{#if this.delivered}}
                            <td style="text-transform: uppercase;" class="badge badge-success">{{this.status}}</td>
                            {{/if}}
                            {{#if this.cancelled}}
                            <td style="text-transform: uppercase;" class="badge badge-danger">{{this.status}}</td>
                            {{/if}}

                            <td>
                                {{#if this.placed}}
                                <select onmousedown="" 
                                    onchange="changeStatus('{{this.product}}',this.value,'{{../this._id}}')">
                                    <option>Change Status</option>
                                    <option value="shipped" class="shipped">Shipped</option>
                                    <option value="delivered" class="delivered">Delivered</option>
                                    {{!-- <p class="text-success" style="display: none">Delivered</p> --}}
                                </select>
                                {{/if}}

                                {{#if this.shipped}}
                                <select onmousedown="this.value=''"
                                    onchange="changeStatus('{{this.product}}',this.value,'{{../this._id}}')">
                                    <option value="delivered" class="delivered">Delivered</option>
                                    {{!-- <p class="text-success" style="display: none">Delivered</p> --}}
                                </select>
                                {{/if}}
                            </td>

                            {{!-- <td><button class="btn btn-sm btn-danger" >Cancel</button></td> --}}
                            <td>
                            {{#if this.placed}}
                                <a class="btn btn-sm btn-danger" style="width: 5.5rem;"
                                    onclick="cancelOrder('{{this._id}}','{{this.product}}')">Cancel</a>
                            {{/if}}

                            {{#if this.shipped}}
                                {{!-- <a class="btn btn-sm btn-danger" style="width: 5.5rem;" value="cancelled"
                                    onclick="changeStatus('{{this.product}}',this.value,'{{../this._id}}')">Cancel</a> --}}
                                {{!-- <input class="btn btn-sm btn-danger" type="button" > --}}
                                <button class="btn btn-sm btn-danger" value="cancelled"
                                    onclick="changeStatus('{{this.product}}',this.value,'{{../this._id}}')">Cancel</button>
                            {{/if}}
                            </td>

                            </tr>
                            {{/each}}
                            {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js" defer></script>

<script> 
   $(document).ready(function () {
        $('#myTablePro').DataTable();
    });
</script>